{% load render_bundle from webpack_loader %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Django-React-Webpack-TypeScript-Docker Hello World</title>

    {% render_bundle 'style' 'css' %}

    {% render_bundle 'manifest' 'js' %}
    {% render_bundle 'shared' 'js' %}

    {% block bottom_head_section %}{% endblock %}
</head>

<body>

<div class="hello-world-app">
    {% block app_content %}
        <div class="app-content-container">
            Loading...
        </div>
    {% endblock %}
</div>

{% block bottom_body_section %}{% endblock %}

</body>

</html>
